@import url('https://fonts.googleapis.com/css?family=Roboto');
.switch input {
    display: none;
}

.slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e8e8e8;
    -webkit-transition: .4s;
    transition: .4s;
    user-select: none;
}

.slider-switch:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 132px;
    left: 7px;
    bottom: 5px;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-switch {
    background-color: #e8e8e8;
}

input:focus+.slider-switch {
    box-shadow: 0 0 1px #5283ff;
}

input:checked+.slider-switch:before {
    -webkit-transform: translateX(124px);
    -ms-transform: translateX(124px);
    transform: translateX(124px);
    background-color: #5283ff;
}


/* Rounded slids */

.slider-switch.round {
    border-radius: 34px;
}

.slider-switch.round:before {
    border-radius: 34px;
}

.slider-switch.square:before {
    border-radius: 4px;
}

.switch-non {
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
    left: 15px;
    color: #666666
}

.switch-oui {
    position: absolute;
    top: 50%;
    transform: translate(-150%, -50%);
    right: 15px;
    color: #5283ff;
}

input:checked+.slider-switch>.switch-oui {
    color: #FFF
}